<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文言文出题及背诵助手</title>
    <script src="{{ url_for('static', filename='js/recite.js') }}"></script>
    <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/recite.css') }}">
</head>
<body>
<div class="header">让经史子集走进课堂——文言文出题及背诵助手</div>

<div class="container">
    <div class="content">
        <div class="button-container">
            <button id="home-button">
                <img class="icon1" src="/static/images/back_icon.png"/>
            </button>
            <button id="next-button">
                <img class="icon1" src="/static/images/next_icon.png"/>
            </button>
        </div>
        <div class="text-container">
            <h2>辞
                <button id="mark-familiar"><img class="icon2" src="/static/images/familiar_icon.png"/></button>
            </h2>
            <p>
                (1) 名词<br>
                ① 诉讼的供词。<br>
                狱辞无谋故者。（《狱中杂记》）<br>
                ② 口实。<br>
                欲加之罪，其无辞乎？（《左传•僖公十年》）<br>
                ③ 言辞，文辞。<br>
                而侯生曾无一言半辞送我。（《信陵君窃符救赵》）<br>
                ④托辞，借口。<br>
                君子疾夫舍曰"欲之"而必为之辞。（《季氏将伐颛臾》）<br>
                ⑤命令。<br>
                近者奉辞罚罪，旗麾南指，刘琮束手。（《赤壁之战》）<br>
                ⑥名词。一种文体。<br>
                《归去来兮辞》<br>
                (2) 用作动词<br>
                ①说话。<br>
                挟天子以征四方，动以朝廷为辞。（《赤壁之战》）<br>
                ②告别，辞别。<br>
                今者出，未辞也，为之奈何。（《鸿门宴》）<br>
                ③推辞，辞去。<br>
                如姬之欲为公子死，无所辞。（《信陵君窃符救赵》）<br>
                ④计较。<br>
                大礼不辞小让。（《鸿门宴》）<br>
                (3)复合词。<br>
                辞令：应酬的语言、文辞。<br>
                然皆祖屈原之从容辞令，莫敢直谏。（《屈原列传》）<br>
            </p>

        </div>

    </div>
</div>

</body>
</html>
