<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文言文出题及背诵助手</title>
    <script src="{{ url_for('static', filename='js/recite.js') }}"></script>
    <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/recite.css') }}">
</head>
<body>
<div class="header">让经史子集走进课堂——文言文出题及背诵助手</div>

<div class="container">
    <div class="content">
        <div class="button-container">
            <button id="home-button">
                <img class="icon1" src="/static/images/back_icon.png"/>
            </button>
            <button id="next-button">
                <img class="icon1" src="/static/images/next_icon.png"/>
            </button>
        </div>
        <div class="text-container">
            <h2>却
                <button id="mark-familiar"><img class="icon2" src="/static/images/familiar_icon.png"/></button>
            </h2>
            <p>
                ① 退，退回。<br>
                相如因持壁却立<br>
                ② 使……退，击退。<br>
                后秦击赵者再，李牧连却之<br>
                ③ 拒绝，推却。<br>
                却之为不恭<br>
                ④还，再。<br>
                何当共剪西窗烛，却话巴山夜雨时。<br>
                ⑤回头。<br>
                却看妻子愁何在，漫卷诗书喜欲狂。<br>
                ⑥去掉、消除。<br>
                医得眼前疮，剜却心头肉<br>
            </p>

        </div>

    </div>
</div>

</body>
</html>
